node_modules/ 
schemas/
.elasticbeanstalk/
.env
.ebignore/

config.js
oauth2creds.json
reverseString.js
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
